.card-stack {
    flex: 1 0 auto;
    position: relative;

    --max-width: 12rem;
    --aspect-ratio: 0.62; /* Aspect ratio of the full 52-card stack. */

    aspect-ratio: var(--aspect-ratio);
    max-width: var(--max-width);
    max-height: calc(var(--max-width) / var(--aspect-ratio));

    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        width: 100%;
    }

    .sizer {
        position: relative;
        display: grid;
        height: fit-content;
        perspective: 1000px;

        &.animate-flip {
            z-index: 200;

            .face {
                transition: transform 500ms ease;
                transform: translateZ(50px) translateY(-15px)
                    rotateY(calc(var(--flip) - 180deg));
            }
        }

        &.animate-discard {
            z-index: 200;

            .face:nth-child(1) {
                display: none !important;
            }

            .face {
                transition:
                    transform 500ms ease,
                    opacity 400ms ease;
                transform: translateZ(-50px) translateX(300px) rotateZ(20deg);
                transform-origin: center;
                opacity: 0;
            }
        }
    }

    /* Create stack effect */

    li:not(:first-child) {
        height: 0.3%;
    }

    li:nth-child(2n):not(:last-child) {
        .face {
            border-bottom-color: color-mix(
                in lab,
                var(--card-border),
                var(--card-bg)
            );
        }
    }

    .face {
        grid-area: 1/1;

        display: flex !important;
        border-radius: 8px;
        padding: 3%;
        border: 1px solid var(--card-border);
        box-sizing: border-box;
        background: var(--card-bg);

        backface-visibility: hidden;
        transform: rotateY(var(--flip));
        --flip: 0deg;

        &:nth-child(2) {
            --flip: 180deg;
        }
    }
}
