@import './card-art.css';
@import './card-select.css';
@import './card-stack.css';

/* TODO: Self host font */
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

:root {
    --button-bg: hsl(240deg 100% 63%);
    --button-text: hsl(0deg 0% 100%);

    --icon-button-bg: transparent;
    --icon-button-bg-hover: color-mix(in lab, var(--app-text) 8%, var(--app-bg));
    --icon-button-bg-active: color-mix(in lab, var(--app-text) 16%, var(--app-bg));

    --dialog-bg: var(--card-bg);
    --dialog-border: var(--card-border);

    --control-bg: var(--card-bg);
    --control-border: var(--card-border);
    --control-border-hover: var(--card-border-hover);
    --control-bg-selected: color-mix(in lab, var(--highlight) 5%, var(--card-bg));
    --control-border-selected: var(--highlight);
}

:root[data-theme='light'] {
    --app-bg: hsl(0deg 0% 100%);
    --app-text: hsl(0deg 0% 10%);
    --app-link: hsl(240deg 100% 63%);
    --highlight: hsl(240deg 100% 63%);

    --card-bg: hsl(0deg 0% 100%);
    --card-back: hsl(0deg 82% 63%);
    --card-border: hsl(0deg 0% 70%);
    --card-border-hover: hsl(0deg 0% 40%);
    --card-opacity: 0.95;

    --card-suit-red: hsl(0deg 100% 60%);
    --card-suit-black: hsl(0deg 0% 20%);

    --card-court-red: hsl(0deg 100% 60%);
    --card-court-black: hsl(0deg 0% 0%);
    --card-court-blue: hsl(240deg 100% 63%);
    --card-court-gold: hsl(48deg 71% 53%);
    --card-court-linewidth: 4;
}

:root[data-theme='dark'] {
    --app-bg: hsl(50deg 10% 10%);
    --app-text: hsl(0deg 0% 90%);
    --app-link: hsl(240deg 100% 70%);
    --highlight: hsl(240deg 100% 70%);

    --icon-button-bg-hover: color-mix(in lab, var(--app-text) 12%, var(--app-bg));
    --icon-button-bg-active: color-mix(in lab, var(--app-text) 20%, var(--app-bg));

    --control-bg-selected: color-mix(in lab, var(--highlight) 20%, var(--card-bg));

    --card-bg: hsl(0deg 0% 0%);
    --card-back: hsl(0deg 50% 35%);
    --card-border: hsl(0deg 0% 25%);
    --card-border-hover: hsl(0deg 0% 35%);
    --card-opacity: 1.0;

    --card-suit-red: hsl(0deg 80% 45%);
    --card-suit-black: hsl(48deg 75% 60%);

    --card-court-red: hsl(0deg 80% 60%);
    --card-court-black: hsl(0deg 0% 100%);
    --card-court-blue: hsl(240deg 80% 63%);
    --card-court-gold: hsl(48deg 51% 45%);
    --card-court-linewidth: 8;
}

html {
    height: 100%;
    font-family: 'Aleo', serif;
}

body {
    --app-width: min(30rem, calc(100vw - 2rem), 50vh);

    height: 100%;
    margin: 0 auto;
    width: var(--app-width);

    display: flex;
    flex-direction: column;

    background-color: var(--app-bg);
    color: var(--app-text);
    accent-color: var(--highlight);
}

header {
    flex: 0;
    width: 100%;

    display: grid;
    align-items: center;
    grid-template-areas: ". logo buttons";
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 0 ;
    text-align: center;

    border-bottom: 1px solid var(--card-border);

    .logo {
        grid-area: logo;

        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-block: -0.5rem;

        button {
            display: flex;
            padding: 0.5rem;
            appearance: none;
            background: var(--icon-button-bg);
            border: none;
            border-radius: 10rem;
            color: inherit;
            font: inherit;
            cursor: pointer;

            &:hover {
                background-color: var(--icon-button-bg-hover);
            }
            &:active {
                background-color: var(--icon-button-bg-active);
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: currentColor;
            }
        }
    }
}

dialog {
    box-sizing: border-box;
    width: var(--app-width);
    max-width: unset;
    padding: 2rem;
    background: var(--dialog-bg);
    border: 1px solid var(--dialog-border);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px hsl(0deg 0% 0% / 20%);

    color: var(--app-text);
    line-height: 1.4;

    &::backdrop {
        background: var(--app-bg);
        opacity: 0.5;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0 0;
        padding: 0;
        border: 0;

        legend {
            margin-inline: auto;

            * {
                margin-top: 0;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            margin: 0;
            padding: 0;
            list-style: none;
        }

        label {
            display: flex;
            padding: 0.5rem 0.75rem;
            gap: 0.5rem;

            background-color: var(--control-bg);
            border: 1px solid var(--control-border);
            border-radius: 0.5rem;

            cursor: pointer;

            &:hover {
                border-color: var(--control-border-hover);
            }
            &:has(:checked) {
                border-color: var(--control-border-selected);
                background-color: var(--control-bg-selected);
            }

            input {
                margin: 0;
                cursor: inherit;
            }
        }

        .help-text {
            margin-top: 0.5rem;
            font-size: 0.9rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h4 {
        font: inherit;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom: 0.5rem;
        margin-top: 2rem;

        + * {
            margin-top: 0;
        }
    }

    a {
        color: var(--app-link);
    }

    .credits {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0.2rem;
        list-style: none;
    }

    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

figure {
    display: contents;
}

@keyframes message-wiggle {
    0%, 100% {
        translate: 0 0;
    }
    25%, 75% {
        translate: -0.5em 0;
    }
    50% {
        translate: 0.5em 0;
    }
}

@keyframes message-bounce {
    0%, 50%, 100% {
        translate: 0 0;
        scale: 1.0;
    }
    25% {
        scale: 1.2;
    }
    75% {
        scale: 1.1;
    }
}

.message {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;

    &.wiggle {
        animation: message-wiggle 250ms ease-in-out;
    }
    &.bounce {
        animation: message-bounce 500ms ease-in-out;
    }
}

main button {
    appearance: none;
    padding: 1rem 1.2rem;
    border: 0;
    border-radius: .3rem;
    background: var(--button-bg);
    color: var(--button-text);
    font: inherit;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    /* TODO: Fluid font size */

    cursor: pointer;

    &:focus-visible {
        outline: 1px solid var(--highlight);
        outline-offset: 2px;
    }

    &:hover {
        background-color: color-mix(in lab, var(--button-bg), black 10%);
    }
    &:active {
        background-color: color-mix(in lab, var(--button-bg), black 20%);
    }

    &:disabled {
        background-color: lightgray;
        cursor: default;
    }
}

.bottom-area {
    display: grid;
    align-items: center;
    justify-items: center;

    > * {
        grid-area: 1 / 1;
    }

    /* Custom properties used for game-over transition. */
    --card-select-height: auto;
    --game-over-height: auto;

    &.game-over-transition {
        --half-duration: 500ms;

        .card-select-container {
            height: var(--card-select-height);
        }
        .game-over-container {
            height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }

    &.game-over-transition-active {
        .card-select-container {
            height: var(--game-over-height);
            visibility: hidden;
            opacity: 0;
            translate: 0 50%;

            transition:
                height calc(var(--half-duration) * 2) ease,
                visibility var(--half-duration),
                opacity var(--half-duration) ease,
                translate var(--half-duration) ease;
        }

        .game-over-container {
            height: var(--game-over-height);
            visibility: visible;
            opacity: 1;
            transition:
                height calc(var(--half-duration) * 2) ease,
                visibility var(--half-duration) ease var(--half-duration),
                opacity var(--half-duration) ease var(--half-duration);
        }
    }
}

.game-over-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    text-align: center;

    &:not(.game-over &) {
        /* Hide by default. */
        display: none;
    }
}
