@import './card-art.css';
@import './card-select.css';
@import './card-stack.css';

/* TODO: Self host font */
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

:root {
    --app-bg: hsl(0deg 0% 100%);
    --app-text: hsl(0deg 0% 10%);
    --app-link: hsl(240deg 100% 63%);
    --highlight: hsl(240deg 100% 63%);

    --button-bg: hsl(240deg 100% 63%);
    --button-text: hsl(0deg 0% 100%);

    --icon-button-bg: transparent;
    --icon-button-bg-hover: color-mix(in lab, var(--app-text) 8%, var(--app-bg));
    --icon-button-bg-active: color-mix(in lab, var(--app-text) 16%, var(--app-bg));

    --card-bg: hsl(0deg 0% 100%);
    --card-back: hsl(0deg 82% 63%);
    --card-border: hsl(0deg 0% 70%);
    --card-border-hover: hsl(0deg 0% 40%);
    --card-opacity: 0.95;

    --card-suit-red: hsl(0deg 100% 60%);
    --card-suit-black: hsl(0deg 0% 20%);

    --card-court-red: hsl(0deg 100% 60%);
    --card-court-black: hsl(0deg 0% 0%);
    --card-court-blue: hsl(240deg 100% 63%);
    --card-court-gold: hsl(48deg 71% 53%);
    --card-court-linewidth: 4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-bg: hsl(50deg 10% 10%);
        --app-text: hsl(0deg 0% 90%);
        --app-link: hsl(240deg 100% 70%);
        --highlight: hsl(240deg 100% 70%);

        --icon-button-bg-hover: color-mix(in lab, var(--app-text) 12%, var(--app-bg));
        --icon-button-bg-active: color-mix(in lab, var(--app-text) 20%, var(--app-bg));

        --card-bg: hsl(0deg 0% 0%);
        --card-back: hsl(0deg 50% 35%);
        --card-border: hsl(0deg 0% 25%);
        --card-border-hover: hsl(0deg 0% 35%);
        --card-opacity: 1.0;

        --card-suit-red: hsl(0deg 80% 45%);
        --card-suit-black: hsl(48deg 75% 60%);

        --card-court-red: hsl(0deg 80% 60%);
        --card-court-black: hsl(0deg 0% 100%);
        --card-court-blue: hsl(240deg 80% 63%);
        --card-court-gold: hsl(48deg 51% 45%);
        --card-court-linewidth: 8;
    }
}

html {
    height: 100%;
    font-family: 'Aleo', serif;
}

body {
    --app-width: min(30rem, calc(100vw - 2rem), 50vh);

    height: 100%;
    margin: 0 auto;
    width: var(--app-width);

    display: flex;
    flex-direction: column;

    background-color: var(--app-bg);
    color: var(--app-text);
    accent-color: var(--highlight);
}

header {
    flex: 0;
    width: 100%;

    display: grid;
    align-items: center;
    grid-template-areas: ". logo buttons";
    grid-template-columns: 1fr auto 1fr;
    padding: 1rem 0 ;
    text-align: center;

    border-bottom: 1px solid var(--card-border);

    .logo {
        grid-area: logo;

        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-block: -0.5rem;

        button {
            display: flex;
            padding: 0.5rem;
            appearance: none;
            background: var(--icon-button-bg);
            border: none;
            border-radius: 10rem;
            color: inherit;
            font: inherit;
            cursor: pointer;

            &:hover {
                background-color: var(--icon-button-bg-hover);
            }
            &:active {
                background-color: var(--icon-button-bg-active);
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: currentColor;
            }
        }
    }
}

dialog {
    box-sizing: border-box;
    width: var(--app-width);
    max-width: unset;
    padding: 2rem;
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px hsl(0deg 0% 0% / 20%);

    color: var(--app-text);
    line-height: 1.4;

    &::backdrop {
        background: var(--app-bg);
        opacity: 0.5;
    }

    h4 {
        font: inherit;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom: 0.5rem;
        margin-top: 2rem;

        + * {
            margin-top: 0;
        }
    }

    a {
        color: var(--app-link);
    }

    .credits {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0.2rem;
        list-style: none;
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.card-area {
    flex: 1 0 auto;

    /* Prevent overflow from discard animation on mobile devices. */
    width: 100vw;
    align-self: center;
    overflow: clip visible;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    gap: 2rem;

    figure {
        display: contents;
    }
}

@keyframes message-wiggle {
    0%, 100% {
        translate: 0 0;
    }
    25%, 75% {
        translate: -0.5em 0;
    }
    50% {
        translate: 0.5em 0;
    }
}

@keyframes message-bounce {
    0%, 50%, 100% {
        translate: 0 0;
        scale: 1.0;
    }
    25% {
        scale: 1.2;
    }
    75% {
        scale: 1.1;
    }
}

.message {
    text-align: center;
    font-size: 1.2rem;

    &.wiggle {
        animation: message-wiggle 250ms ease-in-out;
    }
    &.bounce {
        animation: message-bounce 500ms ease-in-out;
    }
}
